In [2]:
headers = ['name', 'shares', 'price'] 
values = ['ACME', 100, 490.1] 
print(zip(headers, values))
s=dict(zip(headers, values))

[('name', 'ACME'), ('shares', 100), ('price', 490.1)]

In [9]:
print (s)

{'price': 490.1, 'name': 'ACME', 'shares': 100}

In [11]:
for name, val in zip(headers, values):    
    print(name, '=', val)

('name', '=', 'ACME')
('shares', '=', 100)
('price', '=', 490.1)

In [13]:
xpts = [1, 5, 4, 2, 10, 7] 
ypts = [101, 78, 37, 15, 62, 99] 
for x, y in zip(xpts, ypts):
    print(x,y)

(1, 101)
(5, 78)
(4, 37)
(2, 15)
(10, 62)
(7, 99)

In [15]:
# sun list
a=[1,2,3,4]
def aVeryBigSum(ar):
     result=reduce(lambda x,y: x+y, ar)
     return result

aVeryBigSum(a)

10

In [1]:
# find the difference between the sum of diagonal
def diagonalDifference(arr):
    n=len(arr)
    d1=0
    d2=0

    for i in range(0, n):
        for j in range(0, n):
            if (i==j):
                d1 += arr[i][j]
            if (i==n-j-1):
                d2 += arr[i][j]
    return(abs(d1-d2))

arr = [[11, 2, 4], 
       [4 , 5, 6], 
       [10, 8, -16]]

print(diagonalDifference(arr))

19

In [7]:
a=zip('({[', ')}]')

In [8]:
a

[('(', ')'), ('{', '}'), ('[', ']')]

In [9]:
dict(a)

{'(': ')', '[': ']', '{': '}'}

In [10]:
'{' in dict(a)

True

In [4]:
tuple('({[')

('(', '{', '[')

In [11]:
b='TURBO'
b[::-1]

'OBRUT'

In [17]:
b[::-1]

'OBRUT'

In [21]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
(n for n in mylist if n > 0)

In [24]:
prices = {   'ACME': 45.23,   'AAPL': 612.78,   'IBM': 205.55,   'HPQ': 37.20,   'FB': 10.75 }
for key, value in prices.items():
    print(key)

HPQ
FB
AAPL
IBM
ACME